.jinx-cache
builds
host-builds
host-pkgs
iso
jinx
pkgs
sources
astral.iso
kernel-src/include/limine.h
kernel-src/include/printf.h
kernel-src/include/build.h
kernel-src/io/printf.c
kernel-src/flanterm
sysroot
minimalsysroot
tools/init/init
tools/init/main.o
tools/mount/mount
tools/mount/main.o
tools/netd/main.o
tools/netd/netd
