.jinx-cache
builds
host-builds
host-pkgs
iso
img
pkgs
sources
astral.iso
astral-bootable.img
kernel-src/include/limine.h
kernel-src/include/printf.h
kernel-src/include/build.h
kernel-src/io/printf.c
kernel-src/flanterm
sysroot
minimalsysroot
tools/mount/mount
tools/mount/main.o
tools/netd/main.o
tools/netd/netd
tools/netd/hostname
tools/netd/hostname.o
tools/prof/astral-prof
tools/prof/main.o
tools/systrace/systrace
tools/systrace/main.o
tools/netinfo/main.o
tools/netinfo/netinfo
initrds
hdd.img
netdump.dat
build-*
graph_kernel_deps.png
profiler.out
*.svg
