.jinx-cache
builds
host-builds
host-pkgs
host-recipes
iso
jinx
pkgs
sources
astral.iso
kernel-src/include/limine.h
kernel-src/include/printf.h
kernel-src/io/printf.c
kernel-src/flanterm
sysroot
minimalsysroot
